<h1>{{ title }}</h1>


<div class="hyperaudio-main">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<style scoped>
  .hyperaudio-main {
    margin: 0 auto;
    /* width: 640px; */
    font-family: 'Merriweather', serif;
    line-height: 1.7em;
    word-spacing: 0.1em;
  }

  .hyperaudio-main > section {
    float: left;
    width: 50%;
    width: 640px;
    text-align: left;
  }

  .hyperaudio-main > section + section {
    margin-left: 20px;
  }

  ::selection {
    background: #87d8e7;
    text-shadow: none;
  }
</style>
  <section id="player" class="hyperaudio-player">
    <header class="hyperaudio-media">
      <video src="{{ media }}" type="video/mp4" controls></video>
    </header>

    <article>
      <section data-src="{{ media }}" data-type="video/mp4" class="hyperaudio-transcript">
        {{ transcript | raw }}
      <section>
    </article>
  </section>
</div>
