.hypertranscript {
  background-color: #f6f6f8;
  padding: 1em;
  position: relative;
  width: 100%; /* do not change width */
  height: 400px;
  overflow-y: scroll;
}

video.hyperplayer {
  z-index: 5000000;
  position:relative; 
  width: 80%;
/*  height: ;*/
}
  
audio.hyperplayer {
  z-index: 5000000;
  position:relative;
  width: 80%;
}

.hypertranscript .strikethrough {
  text-decoration: line-through;
}

.hypertranscript .annotation, .hypertranscript .parannotation{
  opacity: 0.7;
}

.hypertranscript .highlight {
  background-color: yellow !important;
}

.hypertranscript .highlight.active {
  background-color: lightGreen !important;
}

.hypertranscript  header {
  font-size: 200%;
}

.hypertranscript a, a.link {
  border: 0px;
}

.hypertranscript .read {
  color: #424242 !important;
}

.hypertranscript .unread {
  color: #b4b4b4 !important;
}

.hypertranscript .share-match {
  background-color: #66ffad !important;
}

.hypertranscript sub:before {
  content: '\231C';
}

.hypertranscript sub.highlight-duration:before {
  content: '\231D';
}

.hypertranscript [data-m] {
  cursor: pointer;
}

.hypertranscript .speaker {
/*  font-weight: bold;*/
}

.hypertranscript .speaker:after {
  content: ':';
}

.hypertranscript p[data-tc]:before {
  content: attr(data-tc);
  display: block;
  color: #d7d8da;
}

.hypertranscript::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.hypertranscript::-webkit-scrollbar
{
  width: 6px;
  background-color: #aeafb1;
}

.hypertranscript::-webkit-scrollbar-thumb
{
  background-color: #e20400;
}
